<div class="home">
    <div class="home__banner">
        <a class="home__banner_background">
        </a>
    </div>
    <div class="home__products">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">Особлива <span>Азія</span></h2>

                </div>

            </div>
            <div class="d-flex flex-wrap">
                <ng-container *ngFor="let product of productsList">
                    <div class="card col-sm-6 col-lg-4 col-xl-3 ">
                        <img [src]="product.imagePath" class="card-img-top" width="350" height="350" [routerLink]="[ '/product/'+product.category.path, product.path ]">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title" [routerLink]="[ '/product/'+product.category.path, product.path ]">{{ product.name }}</h5>
                                <h5 class="card-price">{{ product.price }}</h5>

                            </div>
                            
                            <p class="card-text">{{ product.description }}</p>
                            <div class="d-flex justify-content-between card-inputs">
                                <div class="thumb-input-number">
                                    <button type="button" class="decrement" (click)="quantityChange(product, false)">-</button>
                                    <input [value]="product.count" readonly="" class="product-qty" tabindex="-1" max="999">
                                    <button type="button" class="increment" (click)="quantityChange(product, true)">+</button>
                                </div>
                                <a href="#" class="card-inputs_btn">Замовити</a>
                            </div>
                        </div>
                    </div>
                </ng-container>
                
                
                
            </div>
        </div>
    </div>
    <div style="height: 60px;"></div>
    <div class="home__description">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lt-5 col-lg-6 offset-xl-2 offset-lt-1 order-lg-1">
                    <h3><span>Ресторан</span> азіатської кухні NOA Львів</h3>
                    <p>Пікантна, яскрава, різноманітна та ну дуууже смачна — саме так можна охарактеризувати азійську
                        кухню. Асортимент страв вражає навіть найбільш вибагливих гурманів. А унікальні поєднання
                        інгредієнтів — нікого не залишають байдужим. Тож не відкладайте на потім: пориньте у світ
                        смачних страв просто зараз!
                    </p>
                    <p>Ресторан NOA підготував для вас величезне меню з традиційними ролами, локшиною вок, десертами і
                        ще багато страв різноманітного меню азіатської їжі, також можна замовити напої, які чудово
                        підкреслюють смак страв. А наша найшвидша доставка привезе ваше замовлення у будь-який куточок
                        Львова!</p>

                    <div>

                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <div class="">
                                    <h2>Основні страви азійської кухні — що оберете сьогодні?</h2>
                                    <p>Шеф-кухарі NOA ретельно збирали найкращі рецепти китайської, японської, тайської
                                        кухні. Для того, щоб ви могли смакувати улюбленими азійськими стравами у себе
                                        вдома: тоді, коли забажаєте. У нас є все для смачного обіду, ситної вечері або
                                        великого застілля з друзями:</p>
                                    <ul>
                                        <li>Роли та суші-сети — за традиційними та авторськими рецептами. Обов'язково
                                            спробуйте рол Авокадо з вугрем, Токійський дракон, Акайо та Мідора — буде
                                            смачно!
                                        </li>
                                        <li>Страви WOK — локшина та рис. З куркою, морепродуктами, овочами та смачними
                                            соусами, приготованими власноруч.
                                        </li>
                                        <li>Рамени — найрізноманітніші та найсмачніші! З яловичиною, гьодзе, курятиною,
                                            свининою та морепродуктами. До речі, рамен — це зовсім не суп, а локшина з
                                            бульйоном. Спробуйте, і переконайтеся!
                                        </li>
                                        <li>Poke-боули — одночасно смачно та корисно. Вирішуйте, який боул хочете
                                            скуштувати сьогодні: з тунцем, лососем чи іншими смачними інгредієнтами.
                                        </li>
                                    </ul>
                                    <p>Бажаєте поснідати з NOA? Жодних проблем! Наше меню сніданків доступне з 10 ранку
                                        і до 18 вечора — підійде навіть тим, хто звик прокидатися пообіді. Готуємо
                                        сирники, тости, омлети та хашбраун — вибирайте те, що вам до душі. .</p>
                                    <p>А ще, у нас є стартери, десерти, велике меню напоїв: усе, що потрібно для
                                        повноцінного обіду або вечері. Кожна страва створена з любов'ю. Адже ми готуємо
                                        страви для вас, як для своїх рідних. Турбуємося про те, щоб ви хотіли
                                        повертатися в “НОА” ще і ще, стали одним з наших постійних клієнтів.</p>
                                    <p>Ми створюємо азійські страви лише зі свіжих, добірних компонентів. Дбаємо про їх
                                        правильне зберігання та ретельно обробку. Саме тому, кожна страва — дуже смачна.
                                        А наші гості — задоволені!
                                    </p>
                                    <h2>Справжня азійська кухня з доставкою у Львові</h2>
                                    <p>Лінь стояти біля плити? Без паніки: NOA вже поспішає доставити ваші улюблені
                                        страви. Пікантний WOK, роли, рамен — обирайте те, що вам до смаку. Наші
                                        шеф-кухарі приготують справжню азійську їжу саме для вас. А кур'єри — миттєво
                                        доставлять замовлення прямісінько до дверей. Тому не відкладайте на потім:
                                        куштуйте улюблені страви азійської кухні та новинки від нашої команди.
                                    </p>
                                    <p>Замовляєте у нас вперше? Розкажемо, як працює наша доставка:
                                    </p>
                                    <ul>
                                        <li>Готуємо страви щодня та без вихідних. Приймаємо замовлення з 10:00 до 21:00.
                                            Насолоджуйтесь улюбленими стравами хоч щодня!</li>
                                        <li>Привозимо їжу в Зеленій зоні за 45 хвилин, у Жовтій — за 55, у Червоній — за
                                            65. Дбаємо про те, щоб ви могли отримати своє замовлення якомога швидше.
                                        </li>
                                        <li>Діє безкоштовна доставка для замовлень на суму 300+ гривень. Не переплачуйте
                                            зайвого!</li>
                                        <li>Оплатити замовлення можна зручними способами — на сайті через систему
                                            LiqPay, карткою або готівкою кур'єру. Просто оберіть варіант, який підходить
                                            саме вам.</li>
                                    </ul>
                                    <p>Ми готуємо та доставляємо їжу азійської кухні професійно та швидко, тому, що
                                        кожну страву готують з любов'ю. Тому замовляйте нашу доставку, або відвідуйте
                                        заклади — з друзями, рідними, коханою людиною. Приємна атмосфера, професійне
                                        обслуговування та смачна їжа гарантовані. </p>
                                    <p>Насолоджуйтесь улюбленими стравами з ресторану НОА у Львові!</p>
                                </div>
                            </div>
                        </div>
                        <p>
                            <ng-container *ngIf="collapseStatus">
                                <button class="btn-custom btn-custom_open" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample" (click)="collapse()">
                                    Читати більше
                                </button>
                            </ng-container>
                            <ng-container *ngIf="!collapseStatus">
                                <button class="btn-custom btn-custom_close" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample" (click)="collapse()">
                                    Згорнути
                                </button>
                            </ng-container>


                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>