<div class="contaion">
    <div class="row">
        <div class="col-4">
            <div class="categoriesForm">
                <form [formGroup]="categoriesForm" (ngSubmit)="addCategory()">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input formControlName="name" name="name" type="text" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="path" class="form-label">Path</label>
                        <input formControlName="path" name="path" type="text" class="form-control" id="path">
                        <div class="invalid-feedback">Path is required</div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked (click)="ch(true)">
                            <label class="form-check-label" for="flexRadioDefault2" >
                                Основне меню
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="ch(false)">
                            <label class="form-check-label" for="flexRadioDefault1"  >
                                Меню Thai Market
                            </label>
                        </div>
                    </div>
                    <ng-container *ngIf="!isUploaded">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Default file input example</label>
                            <input class="form-control" type="file" id="formFile" (change)="upload($event)">
                        </div>

                    </ng-container>
                    <ng-container *ngIf="isUploaded">
                        <img [src]="valueByControl('imagePath')" alt="" width="100px">
                        <button type="button" class="btn btn-danger" (click)="deleteImage()">delete</button>
                    </ng-container>
                    <button [disabled]="categoriesForm.invalid" type="submit" class="btn btn-success w-100">
                        {{ editStatus ? 'Save' : 'Add' }}

                    </button>
                </form>
            </div>
        </div>
        <div class="col-8">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Path</th>
                        <th scope="col">Image</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of adminCategories">
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.path }}</td>
                        <td>
                            <img [src]="category.imagePath" alt="" height="50px">
                        </td>
                        <td>
                            <button (click)="editCategory(category)" type="button"
                                class="btn btn-secondary me-2">Edit</button>
                            <button [disabled]="editStatus" (click)="deleteCategory(category)" type="button"
                                class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>